.focal {
	overflow: hidden;
	position: relative;
}

.focal__focus {
	width: 48px;
	height: 48px;
	margin: -24px 0 0 -24px;
	border: 2px solid rgba(0, 0, 0, .7);
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.focal__preview {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.focal__overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75);
}

.focal--has-preview .focal__preview {
	display: block;
}
.focal--has-preview .focal__overlay {
	display: block;
}
